body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Navbar */
.navbar{
    /* height: 5rem; */
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.btn-search{
    background-color: #fe424d !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}
.btn-search i{
    display: inline;
    margin-right: 0.5rem;
}
.inp-search{
    border-radius: 25px !important;
    padding: 0.5rem 2rem 0.5rem 2rem !important;
}
/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    padding: 0.5rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}
.f-info-socials a{
    text-decoration: none;
    color: #222222;
}
.f-info-socials a i{
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* Card-Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Show Page */
.show-img{
    height: 40vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right:0;
}
/* Home Page */
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    margin-top: 1rem;
    text-align: center;
    margin-right: 2.5rem;
    opacity: 0.7;
}
.filter p{
    font-size: 0.9rem;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.tax-info{
    display: none;
}
.tax-toggle{
    border: 1px solid rgb(104, 100, 100);
    border-radius: 1.2rem;
    height: 3rem;
    padding: 1rem;
    margin-left: 6rem;
    display: flex;
    align-items: center;
}
/* User */
.signup-btn{
    background-color: #fe424d !important;
    border: none !important;
}